/*
 * Colorize the file extensions for common files
 *
 * All extensions:
 * https://github.com/jesseweed/seti-ui/blob/master/styles/components/icons/mapping.less
 */

#workbench\.view\.explorer .show-file-icons .file-icon .label-name:after {
   position: absolute;
   transform: translate(-100%, 0);
}

#workbench\.view\.explorer .show-file-icons .ts-ext-file-icon .label-name:after {
   content: '.ts';
   color: hsl(198 33% 32% / 1);
}

#workbench\.view\.explorer .show-file-icons .tsx-ext-file-icon .label-name:after {
   content: '.tsx';
   color: hsl(198 33% 32% / 1);
}

#workbench\.view\.explorer .show-file-icons .md-ext-file-icon .label-name:after {
   content: '.md';
   color: hsl(198 33% 32% / 1);
}