/*
 * Hide editor title bar until
 * https://github.com/microsoft/vscode/issues/33607 is fixed
 *
 * The code is as per comment I left:
 * https://github.com/microsoft/vscode/issues/33607#issuecomment-1663235122
 */
.title.show-file-icons {
    position: absolute !important;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 0.5;
}

.title.show-file-icons:hover {
    opacity: 1;
}

.title.show-file-icons .label-container {
    display: none !important;
}

/*
 * Hide line and column numbers from "Problems" view to save on space
 */
#workbench\.parts\.auxiliarybar .markers-panel .marker-line {
    display: none;
}

/* Align all error source names to the end */
#workbench\.parts\.auxiliarybar .markers-panel .marker-message {
    flex: 1;
}

/* Display more compact */
#workbench\.parts\.auxiliarybar .markers-panel .monaco-tl-twistie {
    padding: 0 !important;
}