[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[user]
name = Maksym Patiiuk
email = 40512816+maxxxxxdlp@users.noreply.github.com
signingkey = 446EFFF9D86ADA79
[core]
autocrlf = input
editor = vim
whitespace = tab-in-indent,blank-at-eol,-blank-at-eof
attributesfile = ~/site/git/dotfiles/git/.gitattributes
excludesfile = ~/site/git/dotfiles/git/.gitignore_global
hooksPath = ~/site/git/dotfiles/git/hooks/
untrackedCache = true
[apply]
whitespace = fix
[branch]
sort = -committerdate
[commit]
gpgsign = true
[diff]
tool = vimdiff
mnemonicPrefix = true
colorMoved = default
renames = copies
[init]
defaultBranch = main
[pull]
rebase = true
[merge]
tool = vimdiff
[rerere]
enabled = true
[blame]
date = relative
coloring = highlightRecent
[submodule]
recurse = true
[credential]
helper = !git credential-$([ "$(uname 2>/dev/null)" = "Darwin" ] && echo "osxkeychain" || echo "store") "$@"
[help]
autocorrect = 1
[color "status"]
header = cyan
untracked = white bold red
[color "branch"]
upstream = cyan
[core "whitespace"]
tabwidth = 2
[fetch]
recurseSubmodules = on-demand
[log]
abbrevCommit = true
[push]
followTags = true
[status]
submoduleSummary = true
[tag]
sort = version:refname
[versionsort]
prereleaseSuffix = -pre
prereleaseSuffix = .pre
prereleaseSuffix = -beta
prereleaseSuffix = .beta
prereleaseSuffix = -rc
prereleaseSuffix = .rc
[filter "t2s"]
clean = expand -t 2
[gpg]
program = /usr/local/bin/gpg
