# Global
* text=auto
.* filter=t2s

# Misc
*.gitattributes text
.gitignore text
*.md text diff=markdown
*.txt text
Dockerfile text
LICENSE text -diff
Makefile text
*.*rc text
*.*ignore text

# Python
*.py text diff=python
*.pyc binary
*.ipynb text

# Shell
*.bash text eol=lf
*.zsh text eol=lf
*.sh text eol=lf

# Data
*.json text
*.xml text
*.yaml text
*.yml text

# Windows
*.bat text eol=crlf
*.cmd text eol=crlf

# Web
*.css text diff=css
*.html text diff=html
*.js text
*.jsx text
*.map text -diff
*.php text diff=php
*.sql text
*.ts text
*.tsx text
package.json text eol=lf
package-lock.json -diff
yarn.lock -diff