/node_modules/
/npm/eslint-config/node_modules/
/npm/eslint-config-react/node_modules/
/zsh/custom/plugins/
/zsh/.zsh_history
/zsh/cache/
/zsh/.zsh_sessions/
/zsh/*.zwc
/zsh/*.zwc.old
/zsh/custom/*.zwc
/zsh/custom/*.zwc.old