" Source the main ~/.vimrc file
source ~/.vimrc

" Map leader to space
"let mapleader = " "

" Sync IJ and Vim marks
set ideamarks


" KEYBINDINGS

" Basics
nmap g_ :action RenameElement<cr>
nmap ge :action ReformatCode<CR>

" Search
nmap gh :action SearchEverywhere<CR>
nmap gc :action RecentFiles<cr>

" Navigation
nmap gf :action GotoFile<CR>
nmap gv :action GotoAction<CR>
nmap ga :action GotoDeclaration<CR>
nmap gn :action GotoNextError<CR>
nmap gp :action GotoPreviousError<CR>

" Inspections
nmap gk :action ShowErrorDescription<CR>
nmap gl :action ShowIntentionActions<CR>

" Tabs
nmap gQ :action ReopenClosedTab<cr>

" Tools
nmap tt :action ActivateTODOToolWindow<CR>
nmap tp :action ActivateProblemsViewToolWindow<CR>
nmap tf :action ActivateProjectToolWindow<CR>
